<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>nested if statements</h1>
        {% if a > b %}
           {% if a > c %}
              <h1>a is greater</h1>
           {% else %}
              <h1>c is greater</h1>
           {% endif %}
        {% else %}
           {% if b > c %}
              <h1>b is greater</h1>
           {% else %}
              <h1>c is greater</h1>
           {% endif %}
        {% endif %}
    </center>
</body>
</html>